{% extends "polls/main_template.html" %}


{% block content %}

<h1>{{ question.question_text }} --> has the options:</h1>

</br>

<ul>
{% for choice in choices %}
     <li>{{choice.choice_text}}</li>
{% endfor %}

</ul>

<form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add choice">

</form>

{% endblock %}