
{% extends "polls/main_template.html" %}

{% load static %}

{% block title %}Index Page{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% block content %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <ul>
                {% for choice in question.choice_set.all %}
                    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'polls:register' %}">Register</a>

</br>

<a href="{% url 'polls:login_user' %}">Sign In </a>

{% endblock %}