 {% extends "polls/main_template.html" %}

 {% block title %}Log In{% endblock %}

 {% block content %}
   <h1>Login</h1>

   <form action="{% url 'polls:login_user'%}" method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Login">

   </form>
 {% endblock %}