
{% extends "polls/main_template.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />


{% block content %}

{% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="{% url 'polls:add_choice' question.id %}">{{ question.question_text }}</a>
            <ul>
                {% for choice in question.choice_set.all %}
                    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'polls:add_question' %}">Add New Question</a>

</br>

<a href="{% url 'polls:logout_user' %}">Log out</a>

{% endblock %}